In [1]:
import pandas as pd

In [2]:
pd.set_option('display.float_format', lambda z: '%.4f' % z) # эта строка поможет удобно выводить большие числа в этом ноутбуке

In [3]:
df = pd.read_csv('abalone.csv')
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.4550,0.3650,0.0950,0.5140,0.2245,0.1010,0.1500,15
1,M,0.3500,0.2650,0.0900,0.2255,0.0995,0.0485,0.0700,7
2,F,0.5300,0.4200,0.1350,0.6770,0.2565,0.1415,0.2100,9
3,M,0.4400,0.3650,0.1250,0.5160,0.2155,0.1140,0.1550,10
4,I,0.3300,0.2550,0.0800,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.5650,0.4500,0.1650,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.5900,0.4400,0.1350,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.6000,0.4750,0.2050,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.6250,0.4850,0.1500,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.7100,0.5550,0.1950,1.9485,0.9455,0.3765,0.4950,12

In [4]:
Rings = df.groupby('Rings')['Sex'].count()
Rings

Rings
1       1
2       1
3      15
4      57
5     115
6     259
7     391
8     568
9     689
10    634
11    487
12    267
13    203
14    126
15    103
16     67
17     58
18     42
19     32
20     26
21     14
22      6
23      9
24      2
25      1
26      1
27      2
29      1
Name: Sex, dtype: int64

In [5]:
df.describe(include='all')

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177,4177.0000,4177.0000,4177.0000,4177.0000,4177.0000,4177.0000,4177.0000,4177.0000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.5240,0.4079,0.1395,0.8287,0.3594,0.1806,0.2388,9.9337
std,NaN,0.1201,0.0992,0.0418,0.4904,0.2220,0.1096,0.1392,3.2242
min,NaN,0.0750,0.0550,0.0000,0.0020,0.0010,0.0005,0.0015,1.0000
25%,NaN,0.4500,0.3500,0.1150,0.4415,0.1860,0.0935,0.1300,8.0000
50%,NaN,0.5450,0.4250,0.1400,0.7995,0.3360,0.1710,0.2340,9.0000
75%,NaN,0.6150,0.4800,0.1650,1.1530,0.5020,0.2530,0.3290,11.0000
max,NaN,0.8150,0.6500,1.1300,2.8255,1.4880,0.7600,1.0050,29.0000